<!-- Filter Starts -->
<div class="grid m-4">
    <!-- <form name="filterMandiRateForm" #filterMandiRateForm="ngForm"> -->
    <div class="mr-2 justify-content-center" style="display: flex;flex-wrap: wrap;">
        
        <p>{{mandiList[0]}}</p>
        <!-- <div class="col"> -->
        <!-- Commodity Starts -->
        <div class="mt-2 ml-2 mr-2">
            <span class=" p-float-label">
                <p-autoComplete dropdown="true" forceSelection="true" [(ngModel)]="MandiBhaavObject.selectedCommodity"
                    field="name" [suggestions]="commoditiesSuggetions" (completeMethod)="filterCommodity($event)"
                    inputId="Commodity"></p-autoComplete>
                <label for="Commodity">Commodity</label>
            </span>
        </div>
        <!-- Commoditiy Ends -->

        <!-- State Starts -->
        <div class="mt-2 ml-2 mr-2">
            <span class=" p-float-label">
                <p-autoComplete dropdown="true" [(ngModel)]="MandiBhaavObject.selectedState"
                    [suggestions]="stateSuggestions" field="name" (completeMethod)="filterStates($event)"
                    inputId="state"></p-autoComplete>
                <label for="state">State</label>
            </span>
        </div>
        <!-- State Ends -->

        <!-- District Starts -->
        <div class="mt-2 ml-2 mr-2">
            <span class=" p-float-label">
                <p-autoComplete (onSelect)="onSelectDistrict()" dropdown="true"
                    [(ngModel)]="MandiBhaavObject.selectedDistrict" field="name" [suggestions]="districtsSuggestions"
                    (completeMethod)="filterDistricts($event,MandiBhaavObject.selectedState)"
                    inputId="float-label"></p-autoComplete>
                <label for="float-label">District</label>
            </span>
        </div>
        <!-- Districts Ends -->

        <!-- Market Starts -->
        <div class="mt-2 ml-2 mr-2">

            <span class=" p-float-label">
                <p-autoComplete field="name" dropdown="true" [(ngModel)]="MandiBhaavObject.selectedMarket"
                    [suggestions]="marketsSuggestions" (completeMethod)="filterMarkets($event)"
                    inputId="float-label"></p-autoComplete>
                <label for="float-label">Market</label>
            </span>

        </div>
        <!-- Market Ends -->

        <!-- From Date Starts -->
        <div class="mt-2 ml-2 mr-2">
            <span class=" p-float-label">
                <p-calendar inputId="date-from-label" [(ngModel)]="MandiBhaavObject.selectedFromDate"
                    [iconDisplay]="'input'" dateFormat="dd/M/yy">
                </p-calendar>
                <label for="date-from-label">From Date</label>
            </span>
        </div>
        <!-- Form Date Ends -->

        <!-- To Date Starts -->
        <div class="mt-2 ml-2 mr-2">
            <span class=" p-float-label">
                <p-calendar inputId="date-to-label" [(ngModel)]="MandiBhaavObject.selectedToDate"
                    [iconDisplay]="'input'" dateFormat="dd/M/yy">
                </p-calendar>
                <label for="date-to-label">To Date</label>
            </span>
        </div>
        <!-- To Date Ends -->
    </div>

<!-- </form> -->
</div>

<div class="grid  justify-content-center">

    <!-- Seart filter button starts -->
    <div class="col-4">

        <p-button class=" btn " (click)="searchMandiBhaavList()">
            <span class="mr-1">Filter</span>

        </p-button>
    </div>
    <!-- Search Filter button ends -->

</div>

<!-- </div> -->


<!-- Filter Ends -->

<div class="ml-2 grid justify-content-center">
    <div class="col-8">
        <h3>
            {{mandiList[0]!=undefined && mandiList[0]!= null
            ? mandiList[0].marketName!=null && mandiList[0].commodityName!=null
            ?mandiList[0].commodityName+ " rates in "+ mandiList[0].marketName + " from " +
            this.datePipe.transform(MandiBhaavObject.selectedFromDate, "EEEE, MMMM d, y") + " to "+
            this.datePipe.transform(MandiBhaavObject.selectedToDate, "EEEE, MMMM d, y")
            :"No Result Found!"
            :"No Result Found"}}</h3>
    </div>

</div>


@if(mandiList[1] !=undefined && mandiList[1]!= null ){
<div class="grid justify-content-center">
    <!-- accordion-body -->
    <table class="styled-table">
        <thead>
            <tr>

                <!-- <th scope="">Commodity</th> -->
                <th scope="">Min Price</th>
                <th scope="">Max Price</th>
                <th scope="">Modal Price</th>
                <th scope="">Price Date</th>
            </tr>
        </thead>
        <tbody>


            @for (item of mandiList; track $index) {
            @if (item.marketName!="") {
            <tr>

                <!-- <td>{{item.commodityName}}</td> -->
                <td>{{item.minPriceOfCommoditiy}}</td>
                <td>{{item.maxPriceOfCommoditiy}}</td>
                <td>{{item.modalPriceOfCommoditiy}}</td>
                <td>{{item.priceEndDate}}</td>

            </tr>
            }
            }

    </table>

</div>
}