<div class="grid justify-content-center">
    <div class="container">
        <h1>About This Application</h1>
        <p>Mandi Rates web application is developed only for learning purposes.</p>
        <p>This web application is scraped from <a href="https://agmarknet.gov.in/"
            target="_blank">https://agmarknet.gov.in/</a></p>

        <p>Developed by <span class="highlight">Devarshi Patidar</span></p>
        
        <p>If you have any queries, mail me at: <a href="mailto:devarshi1812@gmail.com">
                <br>
                devarshi1812&#64;gmail.com</a></p>
        <br>
        <br>
                <p>Thanks</p>

    </div>
</div>