/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* primeflex/themes/primeone-light.css   
primeflex/themes/primeone-dark.css  */

.cursor-pointer{
    cursor: pointer;
}

.on-hover-shadow{
    box-shadow: none;
}

.on-hover-shadow:hover{
    box-shadow: 5px 5px rgb(23, 30, 33);
    /* background-color: rgb(21, 31, 23); */
}

.toggle-show{
    display: none;
    transition: display 2s;
}


span[class="p-float-label"] label {
    font-size: 0.7em;
    align-items: start !important;
}

.styled-table {
    border-collapse: collapse;
    margin: 0 0;
    font-size: 18px;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #3B82F6;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3B82F6;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3B82F6;
}